/* Reset Rule */
* {
  margin: 0;
  padding: 0;

}

/* Typography */
h1 {
  font-family: "cubano", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4d4d4d;
}

h2 {
  font-family: "cubano", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4d4d4d;
}

p {
  font-family: "jaf-bernina-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4d4d4d;
}

/* Logo Font*/
header a {
  font-family: "cubano", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fa9f2a;
}

/*Body Styling*/
body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
  }
  
  a {
    color: #4d4d4d;
  }

/* Buttons */

button#randomButton {
  font-family: "jaf-bernina-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #f4f4f4;
  background-color: #fa9f2a;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button#colorButton {
  font-family: "jaf-bernina-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #f4f4f4;
  background-color: #fa9f2a;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
  
/* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .header h1 {
    color: #fa9f2a;
    padding-top: 30px;
    font-size: 1.5em;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: #666666;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 auto;
  }

  

  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  /* Number Generator Styling */

  .numberGenerator {
      padding-top: 200px;
      padding-left: 20px;
      padding-right: 20px;


  }

  .numberGenerator h1, .numberGenerator p{
    padding: 0 0 50px;
  }

  #numberResult {
    font-family: "cubano", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
  }


 /* Color palette styling */

 #palette-container {
   display: flex;
   padding-left: 20px;
 }

  .color-box {
    width: 45px;
    height: 45px;
    margin: 5px;
    border: none;
    border-radius: 10px;
  }
  /* Color Palette Maker Styling */

  .color {
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;


  }

  .color h1, .color p{
    padding: 0 0 50px;
  }



  /* Blog Styling */

  .blog {
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;

  }

  .blog h1 {

      padding: 0 0 50px;
    }

  .blog h2, .blog p {
    padding-top: 10px;

  }


/* Sidebar for mobile */

.sidebar {
  padding: 20px;

}

.sidebar div {
  padding-top: 10px;
}

.sidebar a {
  text-decoration: none;
}
/* footer styling */

footer.footer {
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color: #fbbdde;
  margin-bottom: 0px
  position: fixed;


}

.footer p a, .footer p {
text-decoration: none;
color: #f4f4f4;
}
  /* Tablet 48em = 768px */
  
  @media (min-width: 48em) {

  /* Header styling */

    .header li {
      float: left;
    }
    .header li a {
      padding: 15px 25px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }

  /* Number Generator styling */


  .numberGenerator {
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;


}

.numberGenerator h1, .numberGenerator p{
  padding: 0 0 50px;
}

#numberResult {
  font-family: "cubano", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
}

  /* Sidebar styling */

    .sidebar {
      height: 100%;
      width: 250px;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #e6affc;
      overflow-x: hidden;
      padding-top: 20px;
    }

    .sidebar div {
      padding-top: 130px;
      padding-left: 20px;
      padding-right: 20px;
    }

  }


  